.nav-link.active {
  border-bottom: 2px solid #007bff;
  color: #007bff;
}

main {
  margin: 48px;
  padding: 24px;
  background-color: #fff;
}

.loading {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 12px;
  background-color: black;
  color: #ffff;
  border-radius: 4px;
  .spinner-border {
    --bs-spinner-width: 1rem;
    --bs-spinner-height: 1rem;
    --bs-spinner-border-width: 2px;
    margin-right: 8px;
  }
}
