<table class="table">
  <thead class="thead-light">
    <tr>
      <th>S.N</th>
      <th>Name</th>
      <th>Type</th>
      <th>Singers</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let song of dataList; let i = index">
      <td>{{ i + 1 }}</td>
      <td width="400px" [title]="song.name">
        <span class="name">
          {{ song.name }}
        </span>
      </td>
      <td>{{ song.type }}</td>
      <td>{{ combineSingerList(song.singerList) }}</td>
      <td>
        <div class="btn-wrapper">
          <button (click)="viewDetail(song)" class="btn btn-primary">
            Detail
          </button>
          <button (click)="update(song)" class="btn btn-primary">Edit</button>
          <button (click)="delete(song?.id)" class="btn btn-primary">
            Delete
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
